---
import BaseLayout from "../layouts/BaseLayout.astro";
// import Projects from "../components/Projects.astro";
// import NewsletterForm from "../components/NewsletterForm.astro";
import Timeline from "../components/Timeline.astro";
import Social from "../components/Social.astro";
import { Icon } from "astro-icon/components";

// SEO properties
const title = "About";
const description = "All about me";
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="max-w-2xl">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				About
			</h1>
		</header>

		<section class="max-w-2xl">
			<div class="space-y-8 leading-8">
				<p>
					I started out as a Junior Web Developer, learning, writing
					unit tests, and deploying web applications using Java
					Enterprise. It was insightful work—until one project turned
					into sleepless nights and fatigue. Before I knew it, I had
					become a Full-stack Web Developer and Senior Software
					Engineer.
				</p>
				<p>
					Nowadays, I’m a Platform Engineer (also known as a DevOps Engineer), 
					in Åland Islands and Finland, creating and updating Techinical Documents, monitoring and improving Jenkins pipeline, 
					and day-time support for the platform that our team is responsible for.
				</p>
				<p>
					This blog is where I share my thoughts on technology, life
					as a Platform Engineer and surviving Kanban sprints
					alongside other experts. If that sounds useful—or at least
					mildly chaotic — you're in the right place.
				</p>
			</div>

			<div class="sm:flex sm:items-center sm:justify-between space-y-4 sm:space-y-0 my-10">
				<a href="mailto:herman.menor+site@gmail.com" class="flex items-center space-x-1 hover:text-primary-500">
					<Icon name="heroicons:envelope" class="size-5" />
					<span>Hire Me</span>
				</a>
				<div class="flex items-center space-x-4">
					<Social />
				</div>
			</div>

		</section>

		<section class="my-16 sm:my-30">
			<h2 class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20">
				Career
			</h2>

			<div>
				<Timeline />
			</div>
		</section>
	</div>

	<!-- <div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2 class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20">
				Projects
			</h2>
		</div>

		<div class="mx-auto lg:max-w-5xl">
			<Projects />
		</div>
	</div> -->

	<!-- <div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<NewsletterForm />
	</div> -->
</BaseLayout>
