---
import { Icon } from "astro-icon/components";
const timeline = [
	{
		date: "2023 – Present",
		role: "Platform Manager/Engineer",
		location: "Crosskey, Åland Islands",
		description:
			"Joined the team to manage the platform and tools the developers and company uses. Patch their tools, manage the internal APIs, improve CI/CD pipeline and manage the operational tasks on a weekly basis.",
	},
	{
		date: "2022 – 2023",
		role: "Software Engineer",
		location: "Enfuce, Åland Islands",
		description:
			'Developed and updated their existing APIs to manage the new data with TypeScript and improve the build and deployment pipelines.',
	},
	{
		date: "2020 – 2022",
		role: "DevOps Engineer",
		location: "Paf, Åland Islands",
		description:
			"Started remotely from the Philippines as a DevOps Enginner consultant and worked on the company's CI/CD process and pipeline with Terraform and Github Actions. After pandemic lockdown in the Philippines, moved to Åland Islands, Finland.",
	},
	{
		date: "2018 - 2020",
		role: "Unplanned Career Shift (Software Engineer Manager)",
		location: "Novare Technologies, Philippines",
		description:
			"While finding out what direction I should take, I applied to a role of Technical Manager to a medium-sized software company. I'm responsible for managing releases, deployment, task, R&D, risk and helping 4 Junior developers to career growth.",
	},
	{
		date: "1609 – 2018",
		role: "Apprentice & Cooper",
		location: "Venice, Republic of Venice",
		description:
			"Trained under Master Bellotti in the art of barrel-making. Specialized in casks for wine, olive oil, and other suspicious liquids. Proud inventor of the self-draining blood barrel (unintentional).",
	},
];
---

<div class="space-y-16">
	{
		timeline.map((item, index) => (
			<div class="grid grid-cols-1 md:grid-cols-4">
				<div class="text-slate-400">{item.date}</div>
				<div class="col-span-3 flex flex-col gap-y-3">
					<div class="font-semibold">{item.role}</div>
					<div class="flex items-center space-x-1">
						<Icon name="heroicons:map-pin" />
						<span>{item.location}</span>
					</div>
					<div>{item.description}</div>
				</div>
			</div>
		))
	}
</div>
